<div class="questionnaire">
  <progress-bar [currentQuestionId]="question.id"></progress-bar>
  <div [hidden]="isEnd()">
    <form
      class="form"
      #f="ngForm"
      (ngSubmit)="onSubmit(f.value)"
      [ngSwitch]="question.answerType"
    >
      <h2 class="form__heading">{{ question.question }}</h2>

      <fieldset
        *ngSwitchCase="'bool'"
        class="form__control-set form__control_type_radio"
      >
        <label class="form__control-element">
          <input
            class="form__input"
            type="radio"
            name="choice"
            id="yes"
            value="Да"
            ngModel
          />
          <span class="form__pseudo-item form__pseudo-item_type_radio"></span>
          <span class="form__label-text">Да</span>
        </label>

        <label class="form__control-element">
          <input
            class="form__input"
            type="radio"
            name="choice"
            id="no"
            value="Нет"
            ngModel
          />
          <span class="form__pseudo-item form__pseudo-item_type_radio"></span>
          <span class="form__label-text">Нет</span>
        </label>
      </fieldset>

      <fieldset
        *ngSwitchCase="'choice'"
        class="form__control-set form__control_type_radio"
      >
        <label
          class="form__control-element"
          *ngFor="let answer of question.answers; let idx = index"
        >
          <input
            class="form__input"
            type="radio"
            name="choice"
            id="idx"
            [value]="answer"
            ngModel
          />
          <span class="form__pseudo-item form__pseudo-item_type_radio"></span>
          <span class="form__label-text">{{ answer }}</span>
        </label>
      </fieldset>

      <fieldset
        *ngSwitchCase="'options'"
        class="form__control-set form__control_type_checkbox"
      >
        <label
          class="form__control-element"
          *ngFor="let answer of question.answers; let idx = index"
        >
          <input
            class="form__input"
            type="checkbox"
            [name]="answer"
            id="idx"
            [value]="answer"
            ngModel
          />
          <span
            class="form__pseudo-item form__pseudo-item_type_checkbox"
          ></span>
          <span class="form__label-text">{{ answer }}</span>
        </label>
      </fieldset>
      <fieldset *ngSwitchDefault class="answer answer_type_unknown">
        Нет вариантов ответов на вопрос. Что-то пошло не так.
      </fieldset>
      <button class="button form__button" type="submit">Дальше</button>
    </form>
  </div>
</div>
