<form class="form" [ngSwitch]="question.answerType">
  <h2 class="form__heading">{{ question.getTitle() }}</h2>
  <fieldset *ngSwitchCase="'bool'">
    <input type="radio" name="choice" id="yes" value="Да" />
    <label for="yes">Да</label>
    <input type="radio" name="choice" id="no" value="Нет" />
    <label for="no">Нет</label>
  </fieldset>
  <fieldset *ngSwitchCase="'choice'">
    <div *ngFor="let answer of question.answers; let idx = index">
      <input type="radio" name="choice" id="idx" value="answer" />
      <label for="idx">{{ answer }}</label>
    </div>
  </fieldset>
  <fieldset *ngSwitchCase="'options'">
    <div *ngFor="let answer of question.answers; let idx = index">
      <input type="checkbox" name="choice" id="idx" value="answer" />
      <label for="idx">{{ answer }}</label>
    </div>
  </fieldset>
  <fieldset *ngSwitchDefault>Answer is something else</fieldset>
</form>
