/* You can add global styles to this file, and also import other style files */
.button {
  min-width: 80px;
  min-height: 35px;
  font-weight: bold;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  background-color: rgba(140, 195, 74, 1);
  color: white;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: #689f38;
}

.button:active,
.button:focus,
.button:visited {
  outline: none;
}

.button:disabled {
  background-color: #bdbdbd;
}
